$mobile-size: 575px;
$color-primary: #71b5cc;
$color-primary-active: #3f96b3;

html { 
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; 
}

footer {
  margin-top: auto;
}

h1 {
  color: #3f96b3;
  @media only screen and (max-width: $mobile-size) {
    text-align: center;
    padding: 1rem 0;
  }
}

.navbar {
  background-color: $color-primary;
  @media only screen and (min-width: $mobile-size) {
    padding: 0.4rem 2rem;
  }

  a {
    color:white;
    text-decoration: none;

    &:hover {
      background-color: $color-primary-active;
    }

    &.active {
      background-color: $color-primary-active;
    }
  }

  .navbar-collapse {
    justify-content: space-between;

    .navbar-nav {
      gap: 1rem;
    }
  }
}

.content {
  padding: 2rem;
}


.footer {
  padding: 0 2rem;
}

.header {
  background-color: $color-primary;
}

.img-preview {
  display: block;
  padding-top: 1.5rem;
  margin: auto;
  max-height: 45rem;
  max-width: 100%;
}

.btn {
  text-decoration: none;
  padding: 8px 16px;
}

.btn-primary {
  background-color: $color-primary;
  color: white;
  border: none;

  @media only screen and (max-width: $mobile-size) {
    width: 100%;
  }
  
  &:hover {
    background-color: $color-primary-active;
  }
}

.contact-form {
  padding-top: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: #add8e6;

  & > * {
    margin: 0;
    padding: 1rem 3.3rem;
  }
}

.center-clock {
  padding: 10rem 25%;

  #current-time {
    text-align: center;
    padding-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  
    .btn {
      width: 20%;
      height: 7.5rem;
    }
  }
}

#password-form {
  max-width: 25rem;
}
